@import '../../scss/mixins';

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 50px;
}

.link {
  @include link-flex;

  span {
    font-size: 15px;
  }

  &:hover {
    & span {
      color: white;
    }
  }

  .active {
    color: white;
  }
}