@import '../../../scss/variables';


.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;

  .profile {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .profile__rating {
      display: flex;
      align-items: center;
      gap: 5px
    }

    .profile__avatar {
      position: relative;
      margin-bottom: 15px;

      .profile__avatarPost {
        position: absolute;
        top: 90px;
        left: 90px;
      }

      .uploadImageForm {
        width: 200px;
        border: 2px solid black;
        background-color: $gray;
        padding: 10px;
      }
    }
  }
  .sidebar {
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .sidebar__link {
      display: flex;
      align-items: center;
      gap: 5px;

      &:hover {
        a {
          color: $orange;
        }

        svg {
          fill: $orange;
        }
      }
    }
  }
}

.uploadedImage {
  img {
    border-radius: 10px;
    max-width: 100%;
    padding-bottom: 5px;
  }
}










